:root{
    --primery-text-color: #757575; 
    --title-text-color: #212121;
    --accent-color: #2196F3; 
    --button-text-color: #ffffff;
    --primery-bg--color: #2F303A;

}
/*Стили для html*/
body {
    background-color:var(--button-text-color);
    color:var(--title-text-color);
    font-family: 'Roboto';
}
.main-page{
    background-color: var(--button-text-color);
}
.list {
    list-style: none;
}
/*Logo*/
.logo{
    color: var(--title-text-color);
    }
.logoweb{
    color: var(--accent-color) ;
}
.logo, .logoweb{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
/*Link*/
.site-nav .link {
   color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.auth-nav .link{
    color: var(--primery-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus{
    color: var(--accent-color);}
    
.site-nav .link.current {
 color:var(--accent-color) ;
    }


}
/*Main*/
.main{
    background-color:var(--primery-bg--color);
}
.main-title{
    color: var(--button-text-color);
}
.main-button{
    background-color: var(--accent-color);
    color: var(--button-text-color);
    cursor: pointer;
}

/*Section*/
.section-title{
    color:var(--title-text-color) ;
}
.feature-list .title{
    color: var(--title-text-color);
}
.feature-list p{
    color:var(--primery-text-color);
}
:root
--



/* blue: #2196F3 */ 
/* black: #212121 весь текст H */
/* background black: #2F303A */
/* grey P: #757575 */ 
/* background light-grey:  #E5E5E5 */
/* background white: #ffffff */
/* background with faces: #F5F4FA */ 